body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #f8fafc;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
h1{
    color: rgb(148, 148, 1);
    font-family: cursive;
}
input {
    padding: 10px 12px;
    width: 240px;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid yellow;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}

input:hover{
    scale: 1.1;
}
button {
    padding: 10px 18px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2563eb;
    color: white;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #1d4ed8;
    scale: 1.1;
}
button:active{
    transform: translateY(-12px);
}
img {
    margin-top: 20px;
    width: 200px;
    transition: all 0.5s ease-in-out;
}
img:hover{
    scale: 1.2;
}
